body {
    background: url("https://images.wallpaperscraft.ru/image/ruchka_kofe_bloknot_zapisi_54197_1680x1050.jpg");
}

.btn-start {
    margin: 0 auto;
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
}
