<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>app</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="App.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-3" style="background: black;height: 340px;">
            <div class="menu">
                <p><a href="">Vugar Guliev</a></p>
                <div class="list-group" id="myList" role="tablist">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">Home</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">Profile</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages" role="tab">Messages</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">Settings</a>
                </div>
            </div>
        </div>

        <div class="col-9">
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="AddTask">
                        <h1>AddList</h1>
                        <form method="post" name="task">
                            <div class="form-group">
                                <label for="name">Название</label>
                                <input type="text" class="form-control" name="name" id="name">
                            </div>
                            <div class="form-group">
                                <label for="description">Описание</label>
                                <textarea class="form-control" name="description" id="description" rows="3"></textarea>
                            </div>
                            <div class="buttons">
                                <button class="btn btn-success" type="submit">Add</button>
                                <button class="btn btn-primary show-all" type="button">Show all</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane" id="profile" role="tabpanel">2</div>
                <div class="tab-pane" id="messages" role="tabpanel">3</div>
                <div class="tab-pane" id="settings" role="tabpanel">4</div>
            </div>



            <ul class="list-group task-list"></ul>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>


<script src="app.js"></script>
<script src="../../services/api.service.js"></script>
<script src="../../services/transformService.js"></script>

</body>
</html>