@font-face {
    font-family: 'Web font';
    src: url('../../fonts/fa-solid-900.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


input{
    width: 100%;
}
input[type=checkbox]{
    cursor: pointer;
}
input.isMarked {
    width: 30px;
    height: 20px;
    position: relative;
    top: 5px;
    left: -5px;
}

.user-menu{
    text-align: left;
    padding: 0 20px;
    padding-top: 10px;
    color: #fff;
}
button {
    padding: .375rem .75rem !important;
}

ul{
    padding: 0;
}

a{
    cursor: pointer;
}
h1{
    color: #fff;
}
label{
    margin-bottom: 0;
}

.main-block{
    background-image: url("https://www.gannett-cdn.com/-mm-/d323fe49c2a769ec011236979ae04578484592c5/c=0-427-4992-3247/local/-/media/2018/02/02/CNYGroup/Binghamton/636531792568173900-GettyImages-863607936.jpg?width=3200&height=1680&fit=crop");
    background-size: cover;
    padding-top: 25px;
    height: 913px;
}
.user-block{
    padding: 10px;
}

.menu-block{
    background-color: #e4e1be26;
}
span.listName {
    width: 170px;
    pointer-events: none;
}

.list-group-item.active{
    color: #fff !important;
    background-color: #33b5e5 !important;
    border-color: #33b5e5 !important;
}

.search-block{
    position: relative;
    margin-bottom: 12px;
}

label[for="search"]{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin-right: 5px;
}

nav{
    background: #78addd;
}
img.avatar{
    height: 50px;
}

.input-group-append{
    cursor: pointer;
}

.tab-pane.hide{
    display: none !important;
}

.tab-pane.show{
    display: block !important;
}

.search-block .form-group {
    display: flex;
}
form[name="search_form"]{
    width: 100%;
}

li.list-group-item.list-group-item-light {
    display: flex;
}
li.task-item{
    cursor: pointer;
}

span.task-name {
    font-size: 20px;
    cursor: pointer;
}

span.deleteTask {
    cursor: pointer;
    align-self: center;
    position: absolute;
    display: block;
    right: 10px;
}

span#search_btn {
    background-color: #33b5e5;
}


i.fa.fa-trash {
    color: red;
    font-size: 20px;
}

a.list-group-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-right .buttons{
    position: absolute;
    bottom: 0;
    right: 10px;
}

.Settings-list{
    width: 20%;
}

.Settings-list a {
    display: block;
}

.Settings-tabs{
    width: 80%;
    margin-left: 20px;
}