<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Application</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="../../vendor/font-awesome-4.7/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            ntegrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>

<header>
    <!--Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark info-color">
        <a class="navbar-brand" href="#">TaskManager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
                aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <i class="fa fa-facebook-f"></i> Facebook
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-instagram"></i> Instagram</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i> Profile </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                        <a class="dropdown-item" data-toggle="modal" data-target="#centralModalSm" href="#">My account</a>
                        <a class="dropdown-item" id="signOut" href="#">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-3 menu-block">
            <div class="user-block">
                <a href="#" class="fa fa-user">
                    <span class="user-name"></span>
                </a>
            </div>
            <div class="search-block input-group md-form form-sm form-2 pl-0">
                <form name="search_form">
                    <div class="form-group">
                        <input class="form-control my-0 py-1 red-border" id="searchTask" type="search" placeholder="Search task" aria-label="Search">
                        <div class="input-group-append">
                            <span class="input-group-text red lighten-3" id="search_btn"><i class="fa fa-search text-grey" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Tab list-->
            <div class="list-group" id="myList" role="tablist"></div>
            <hr>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#creteListModal">Create a
                list
            </button>
        </div>
        <div class="col-9 main-block">
            <h1 class="categoriesName"></h1>
            <div class="AddTask">
                <form method="post" name="task">
                    <div class="form-group">
                        <p style="margin-top: 20px;display:flex;">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Add task">
                            <button style="margin-left: 5px;" class="btn btn-success" type="submit">Add</button>
                        </p>
                    </div>
                </form>
            </div>
            <!-- Tab content -->
            <div class="tab-content"></div>
            <!-- Modal -->
            <div class="modal fade" id="creteListModal" tabindex="-1" role="dialog"
                 aria-labelledby="creteListModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="creteListModalLongTitle">Create new list</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form name="createListForm">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="creatList" placeholder="create a list">
                                    <span class="invalid-feedback">
                                        please enter correct name.
                                    </span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" id="btnCreateList" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- modal account form -->
<div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">My account</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" name="Account">
                    <div class="form-group d-flex justify-content-md-around">
                        <label for="account_name">User name
                            <input class="form-control" type="text" name="account_name" id="account_name">
                        </label>
                        <label for="account_name">email
                            <input class="form-control" type="text" name="account_email" id="account_email">
                        </label>
                    </div>
                    <div class="form-group d-flex justify-content-md-around">
                        <label for="account_password">Password
                            <input class="form-control" type="text" id="account_password" name="account_password">
                        </label>
                        <label for="account_phone">Phone number
                            <input class="form-control" type="text" id="account_phone" name="account_phone">
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- modal account form -->

<script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-auth.js"></script>


<!--<script src="app.js"></script>-->
<script src="app.js"></script>
<script src="../../services/api.service.js"></script>
<script src="../../services/transformService.js"></script>



</body>
</html>