input{
    width: 100%;
}
.user-menu{
    text-align: left;
    padding: 0 20px;
    padding-top: 10px;
    color: #fff;
}

ul{
    padding: 0;
}

a{
    cursor: pointer;
}
h1{
    color: #fff;
}
label{
    margin-bottom: 0;
}

.main-block{
    background-image: url("https://images6.alphacoders.com/925/925754.jpg");
    background-size: cover;
    padding-top: 25px;
    height: 913px;
}
.user-block{
    padding: 10px;
}

.menu-block{
    background-color: #e4e1be26;
}
.listName{
    margin-left: 5px;
    display: inline-block;
    width: 160px;
}
.list-group-item.active{
    color: #fff !important;
    background-color: #78addd;
    border-color: #78addd;
}

.search-block{
    position: relative;
    margin-bottom: 12px;
}

label[for="search"]{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin-right: 5px;
}

nav{
    background: #78addd;
}
img.avatar{
    height: 50px;
}

.input-group-append{
    cursor: pointer;
}

.tab-pane.hide{
    display: none !important;
}

.tab-pane.show{
    display: block !important;
}

.search-block .form-group {
    display: flex;
}
form[name="search_form"]{
    width: 100%;
}

li.list-group-item.list-group-item-light {
    display: flex;
    justify-content: space-between;
}

span.deleteTask {
    cursor: pointer;
}

i.fa.fa-trash {
    color: red;
}