input{
    width: 100%;
}
.user-menu{
    text-align: left;
    padding: 0 20px;
    padding-top: 10px;
    color: #fff;
}

ul{
    padding: 0;
}

a{
    cursor: pointer;
}
h1{
    color: #fff;
}

.main-block{
    background-image: url("../../files/app_bg.jpg");
    background-size: cover;
    height: 700px;
}
.user-block{
}

.menu-block{
    background-color: #e4e1be26;
}
.listName{
    margin-left: 5px;
}
.list-group-item.active{
    color: #fff !important;
}